﻿@import "settings/wizdom";
@import "settings/wizbdd";

@import "components/asciidoc";
@import "components/awesome-icons";

%lead {
  font-size: $paragraph-font-size;
  color: $blockquote-font-color;
}

/* <h2> begin each chapter of the book,
 * and we want each chapter to begin on a new page.
 */
h2 { page-break-before: always; }

h2,h3 {
  font-weight: bold;
  color: $title-font-color;
}

h2 {
  border-bottom: 1px solid $hr-border-color;
}

#content #{headers()} {
  & > a.anchor {
    color: $body-font-color;
  }
}

#header, #content, #footnotes {
  max-width: 660px;
  padding-left: 0;
  padding-right: 0;
}

.olist.procedure > ol {
  counter-reset: li;
  list-style: none;
  position: relative;
  & > li {
    position: relative;
    padding: 5px 0 5px 55px;
    margin-bottom: 5px;
    &:before {
      content: counter(li);
      counter-increment: li;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 30px;
      padding: 0 10px 0 0;
      color: #999;
      font-size: emCalc(22px);
      font-weight: bold;
      line-height: 1.6;
      text-align: right;
      border-right: 1px solid #ddd;
    }
  }
}

.sidebarblock > .content > .title {
  // FIXME kind of a hack
  margin-top: -20px;
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 20px;
  padding: 1em;
  font-size: emCalc(12px);
  background: #eaeaea;
}

.literalblock,
.listingblock {
  & pre {
    background: $pre-bg;
  }
}



/******************
 * NUMBERED LISTS *
 ******************/
ul, ol {
	counter-reset: numList;
}
ol > li {
	position: relative;
	list-style: none;
	padding-left: $bullet-number-offset;
}
ol > li:before {
	counter-increment: numList;
	content: counter(numList);

	position: absolute;
	left: -$bullet-number-size;
	margin-top: $bullet-number-offset;

	width: $bullet-number-size;
	height: $bullet-number-size;
	background: $bullet-number-color;

	font: bold $bullet-number-font-size sans-serif;
	line-height: $bullet-number-size;
	text-align: center;
	color: #fff;

	border-radius: 999px;
}

#toctitle {
  text-transform: capitalize;
}

body, #toc.toc2, #footer {
  color: $body-font-color;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
#footer-text {
  color: $body-font-color;
}



.admonitionblock {
  & > table {
    background-color: #eeeeee;
    border-collapse: separate;
    border-spacing: 0;
    @include radius(5px);
    border: 1px solid #9EC6DF;
    td.icon {
      padding: 15px;
      .icon-tip:before {
        text-shadow: 0 0 20px white, 1px 1px 2px rgba(155, 155, 0, .8);
      }
    }
    td.content {
      font-size: 90%;
      font-style: italic;
      border: 0;
      padding: 15px;
    }
  }
}
